body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

header {
  position: static;
  top: 0;
  width: 90%;
  background-color: #007bff;
  z-index: 10;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 15px 30px;
  color: white;
}

header .logo img {
  margin-left: 10px;
  width: 100px;
}

.header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
}

.header nav ul li a {
  text-decoration: none;
  color: #007bff;
  padding: 5px 10px;
}

.header nav ul li a.active,
.header nav ul li a:hover {
  background-color: #007bff;
  color: #f9f9f9;
  border-radius: 5px;
}

i:hover {
  background-color: #f9f9f9;
}

.header nav ul li a.active {
  padding-top: 1px;
}

.riwayat {
  background: #007bff;
  color: #fff;
  max-width: 400px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.riwayat h2 {
  margin-bottom: 20px;
}

.riwayat table {
  width: 100%;
}

.riwayat td {
  padding: 10px;
  text-align: left;
}

.riwayat label {
  display: block;
}

.riwayat input[type="date"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}

.riwayat button {
  max-width: 50%;
  width: 100px;
  padding: 10px;
  background: #fff;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.riwayat button:hover {
  background: #0056b0;
  color: #fff;
}

.container {
  width: 700px;
  max-width: 90%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #007bff;
  border-radius: 10px;
  background: #fff;
  font-display: inline;
}

.button-container {
  display: flex;
  justify-content: center; /* Center the button horizontally */
  margin-top: 10px; /* Optional: Add some space above the button */
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #007bff;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card img {
  width: 20px;
  height: 20px;
}
